<mat-toolbar color="primary">
  <span>Travel Planer</span>
</mat-toolbar>
<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login - Travel Planer</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Username"
                formControlName="username"
              />
              <mat-error
                *ngIf="loginForm.controls['username'].hasError('required')"
              >
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-error
                *ngIf="loginForm.controls['password'].hasError('required')"
              >
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="accent" type="reset">Reset</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
